<div class="container">
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th (click)="sort('cf')">{{ "search.headword" | translate }}
            <span class="glyphicon sort-icon" *ngIf="key =='cf'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('gw')">{{ "search.guideword" | translate }}
            <span class="glyphicon sort-icon" *ngIf="key =='gw'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('icount')">{{ "search.icount" | translate }}
            <span class="glyphicon sort-icon" *ngIf="key =='icount'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th>{{ "search.periods" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of sortedEntries() | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{entry.cf}}</td>
          <td>{{entry.gw}}</td>
          <td align="right">{{entry.icount}}</td>
          <td>
            <span *ngFor="let period of entry.periods_p; let isLast = last">
              {{period}}{{isLast ? '' : ', ' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
