<div class="bcrumbs">
  <div class="container bcrumbs__container">
    <ul class="bcrumbs__list">
      <li class="bcrumbs__list-item" routerLink="/">
        {{ "breadcrumbs.homeText" | translate }}
      </li>
      @for (link of breadcrumbsLinks; track link; let i = $index) {
        <li
          class="bcrumbs__list-item js-list-item"
          (click)="handleBreadcrumbClick(i)"
          (keydown.enter)="handleBreadcrumbClick(i)"
          data-id="{{ link.url }}"
          tabindex="0"
          >
          <i class="fas fa-arrow-left bcrumbs__list-icon"></i>
          @if (['search results', 'occurrences', 'texts'].includes(link.name)) {
            {{ "breadcrumbs." + link.name | translate }}
          } @else {
            {{ link.name }}
          }
        </li>
      }
    </ul>
  </div>
</div>
