<header class="header">
  <div class="container header__content" (click)="closeNavPanel($event)">
    <div class="header__logo">
      <a routerLink="/" class="header__logo-link"
        ><img
          *ngIf="isDesktop; else mobileLogo"
          class="header__logo-image"
          [src]="imgURL"
          alt="ORACC: The Open Richly Annotated Cuneiform Corpus"
      /></a>
      <ng-template #mobileLogo> Oracc </ng-template>
    </div>
    <div class="header__nav">
      <nav class="header__nav-bar" [class.header__nav-bar--active]="isMenuOpen">
        <ul class="header__nav-list">
          <li class="header__nav-list-item" *ngIf="isDesktop">
            <a
              routerLink="/"
              routerLinkActive="header__nav-list-link"
              class="header__nav-list-link"
              >{{ "header.linkText1" | translate }}</a
            >
          </li>
          <li class="header__nav-list-item">
            <a
              href="http://oracc.museum.upenn.edu/projectlist.html"
              target="_blank"
              class="header__nav-list-link"
              >{{ "header.linkText2" | translate }}</a
            >
          </li>
          <li class="header__nav-list-item">
            <a
              href="http://oracc.museum.upenn.edu/doc/tools/index.html"
              target="_blank"
              class="header__nav-list-link"
              >{{ "header.linkText3" | translate }}</a
            >
          </li>
          <li class="header__nav-list-item">
            <a
              href="http://oracc.museum.upenn.edu/doc/about/index.html"
              target="_blank"
              class="header__nav-list-link"
              >{{ "header.linkText4" | translate }}</a
            >
          </li>
        </ul>
      </nav>
      <div class="header__nav-lang">
        <a
          #enLang
          href="javascript:;"
          id="en"
          class="header__nav-lang-link header__nav-lang-link--active"
          (click)="changeLang(enLang)"
          >{{ "header.langText1" | translate }}</a
        >
        <a
          #arLang
          href="javascript:;"
          id="ar"
          class="header__nav-lang-link"
          (click)="changeLang(arLang)"
          >{{ "header.langText2" | translate }}</a
        >
      </div>
    </div>
    <div
      class="header__menu-btn"
      [class.header__menu-btn--active]="isMenuOpen"
      (click)="toggleNavPanel()"
    >
      <span class="header__menu-btn-line"></span>
    </div>
  </div>
</header>
