//----------  fonts
//------------------------------------------------------------------------------

/// Droid serif

@font-face {
	font-family: 'DroidSerif';
	src: url('assets/fonts/droidserif-regular.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSerif';
	src: url('assets/fonts/droidserif-italic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'DroidSerif';
	src: url('assets/fonts/droidserif-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSerif';
	src: url('assets/fonts/droidserif-bolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

/// Noto serif

@font-face {
	font-family: 'NotoSerif';
	src: url('assets/fonts/NotoSerif-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NotoSerif';
	src: url('assets/fonts/NotoSerif-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'NotoSerif';
	src: url('assets/fonts/NotoSerif-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'NotoSerif';
	src: url('assets/fonts/NotoSerif-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

/// Open sans

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}