<div class="search" [class.search--mob]="isMobile">
  <div class="container content search__content">
    <h2 class="search__title">{{ "search.titleText" | translate }}</h2>
    <span class="search__intro">{{ "search.introText" | translate }}</span>
    <div class="search__form">
      <div class="search-input__container">
        <input
          autocomplete="off"
          type="text"
          name="search"
          class="search__input js-search-input"
          [placeholder]="'search.placeholderText' | translate"
          [(ngModel)]="searchParam"
          (keydown)="searchOnEnter($event)"
          (keyup)="getSearchSuggestions(searchParam)"
          (blur)="onBlurMethod()"
        />

        <div
          *ngIf="
            searchSuggestions &&
            (searchSuggestions.suggestions.length > 1 ||
              searchSuggestions.completions.length > 1)
          "
          class="search__suggestions"
        >
          <div class="suggestions-category-select">
            <div
              [ngClass]="suggestionsCategory == 'completions' ? 'active' : ''"
              (click)="setSuggestionsCategory($event)"
            >
              Completions
            </div>

            <div
              [ngClass]="suggestionsCategory == 'suggestions' ? 'active' : ''"
              (click)="setSuggestionsCategory($event)"
            >
              Suggestions
            </div>
          </div>
          <p
            *ngFor="let suggestion of searchSuggestions[suggestionsCategory]"
            (click)="setSuggestionSearchParam(suggestion)"
          >
            {{ suggestion }}
          </p>

          <p
            class="no-suggestions-fallback"
            *ngIf="searchSuggestions[suggestionsCategory].length === 0"
          >
            No items to display
          </p>
        </div>
      </div>

      <button
        class="btn search__btn js-search-btn"
        routerLink="search-results"
        (click)="setSearchParam(searchParam)"
      >
        <i class="fa fa-search"></i>{{ "search.buttonText" | translate }}
      </button>
    </div>
    <router-outlet *ngIf="!isMobile"></router-outlet>
  </div>
</div>
