@import "../../../scss/config/variables";

.search {
  padding-top: 57px;
  &:not(.search--mob) {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.search__content {
  text-align: center;
  @media only screen and (max-width: 600px) {
    padding: 0 10px;
  }
}

.search__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: $grayDark;
  margin-bottom: 26px;
}

.search__intro {
  color: $red;
  font-size: 0.75rem;
  display: block;
  margin-bottom: 15px;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 0;
  }
}

.search-input__container {
  margin-right: 15px;
  width: 100%;
  max-width: 346px;
  display: flex;
  flex-direction: column;
}

.search__input {
  border: 1px solid $grayDark;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  height: 50px;
}

.search__btn {
  align-self: baseline;
  .fa-search {
    margin-right: 10px;
  }
}

img {
  width: 30px;
  font-weight: 900;
  stroke-width: 1px;
}

.svg-stroke-width {
  stroke-width: 0.1;
}

/// Mobile devices styles

.search--mob {
  padding-top: 20px;
  z-index: 2;
  .content {
    min-height: 0;
  }
  .search__title,
  .search__intro {
    display: none;
  }
  .search__form {
    padding: 20px 0;
    position: relative;
    // some fading so the search section doesn't have hard edges
    background: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      $white 80%,
      rgba($white, 0) 100%
    );
    

    &::after { // this is the divider
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: 0;
      height: 1px;
      background-color: $gray;
    }
  }
  .search__input {
    border: 1px solid $grayDark;
    min-width: 220px;
    padding-left: 11px;
    padding-right: 11px;
    &::placeholder {
      font-family: $fontPrimary;
      font-style: italic;
    }
  }
  .search__btn {
    height: 32px;
    font-size: 0;
    color: $blueDark;
    background-color: $white;
    vertical-align: middle;
    align-self: center;
    .fa-search {
      font-size: 1.3rem;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .search-input__container {
    margin-left: 18px;
    margin-right: 6px;
  }
}

@media only screen and (max-width: 600px) {
  .search__input {
    width: 241px;
  }
}
