<div class="search" [class.search--mob]="isMobile">
  <div class="container content search__content">
    <h2 class="search__title">{{ "search.titleText" | translate }}</h2>
    <span class="search__intro">{{ "search.introText" | translate }}</span>
    <div class="search__form">
      <div class="search-input__container">
        <input
          autocomplete="off"
          type="text"
          name="search"
          class="search__input js-search-input"
          [placeholder]="'search.placeholderText' | translate"
          [(ngModel)]="searchParam"
          (ngModelChange)="setShowSuggestions(true)"
          (keyup.enter)="searchOnEnter($event)"
          (keyup.arrowdown)="focusSuggestions()"
        />
        <app-search-suggestions
          *ngIf="showSuggestions"
          [searchParam]="searchParam"
          (setSuggestionSearchParam)="setSuggestionSearchParam($event)"
          (setShowSuggestions)="setShowSuggestions($event)"
        ></app-search-suggestions>
      </div>

      <button
        class="btn search__btn js-search-btn"
        routerLink="search-results"
        (click)="setSearchParam(searchParam)"
      >
        <i class="fa fa-search"></i>{{ "search.buttonText" | translate }}
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
