@use "../../../scss/config/variables";

.search {
  padding-top: 2rem;
  @media only screen and (max-height: 600px) {
    padding-top: 0;
  }
}

.search__content {
  text-align: center;
  @media only screen and (max-width: 600px) {
    padding: 0 0.6rem;
  }
}

.search__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  @media only screen and (max-width: 600px) {
    gap: 0;
  }
}

.search__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: variables.$grayDark;
  @media only screen and (max-width: 600px) {
    font-size: 0.8rem;
  }
}

.search__intro {
  color: variables.$red;
  font-size: 0.75rem;
  display: block;
  @media only screen and (max-width: 600px) {
    font-size: 0.4rem;
  }
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 38px;
  @media only screen and (max-width: 600px) {
    padding-top: 0.2rem; 
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.search-input__container {
  margin-right: 15px;
  width: 100%;
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 600px) {
    width: unset;
  }
}

.search__input {
  border: 1px solid variables.$grayDark;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  height: 50px;
  direction: ltr;
}

.search__btn {
  align-self: baseline;
  .fa-search {
    margin-inline-end: 10px;
  }
  @media only screen and (max-width: 600px) {
    width: 2.4rem; 
  }
}

img {
  // what is this for?
  width: 30px;
  font-weight: 900;
  stroke-width: 1px;
}

.svg-stroke-width {
  stroke-width: 0.1;
}

/// Mobile devices styles

@media only screen and (max-width: 600px) {
  .search .content {
    min-height: 0;
  }
  .search__form {
    position: relative;
    display: flex;
    justify-content: center;

    &::after { // this is the divider
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: -20px;
      height: 1px;
      background-color: variables.$gray;
    }
  }
  .search__input {
    border: 1px solid variables.$grayDark;
    min-width: 220px;
    padding-left: 11px;
    background-color: variables.$white;
    &::placeholder {
      font-family: variables.$fontPrimary;
      font-style: italic;
    }
  }
  .search__btn {
    height: 32px;
    font-size: 0;
    color: variables.$blueDark;
    background-color: transparent;
    vertical-align: middle;
    align-self: center;
    .fa-search {
      font-size: 1.3rem;
      margin-inline-end: 0;
    }
  }
}
