@use "../../../scss/config/variables";

.glossary {
  text-align: left;
  @media only screen and (max-width: 600px) {
    min-height: 100vh;
  }
  .container {
    max-width: 1436px;
  }
  .entry.heading {
    margin-bottom: 30px;
    @media only screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
  .header {
    display: flex;
  }
  p.icount {
    margin-inline-start: auto;
  }
  .forms,
  .norms,
  .morphs {
    display: table;
    margin-bottom: 15px;
    @media only screen and (max-width: 600px) {
      display: block;
    }
    .icountu {
      font-weight: normal;
      @media only screen and (max-width: 600px) {
        font-size: 1rem;
      }
      &:hover {
        color: variables.$blueLight;
      }
    }
    .iheader {
      display: table-cell;
      padding-inline-end: 12px;
      min-width: 250px;
      text-align: right;
      font-weight: 700;
      color: variables.$blueDark;
      font-size: 1.1rem;
      @media only screen and (max-width: 600px) {
        display: block;
        text-align: left;
        font-size: 1rem;
      }
    }
  }
  .forms.hide,
  .norms.hide,
  .morphs.hide {
    display: none;
  }
  .senses {
    margin-inline-start: 242px;
    @media only screen and (max-width: 600px) {
      margin-inline-start: 0;
      font-size: 1rem;
    }
    .sense,
    .icount {
      font-weight: normal;
      @media only screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
    .sensenum {
      @media only screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
  }
}
.glossary__fetching {
  position: relative;
}
.glossary__fallback {
  text-align: center;
}

.hsheader:after {
  content: "▼" / "close section";
  display: inline-block;
  transform: rotate(0deg);
  animation: open-hsheader 250ms linear;
}
.hsheader.hiding:after {
  content: "▼" / "open section";
  transform: rotate(90deg);
  display: inline-block;
  animation: close-hsheader 250ms linear;
}

@keyframes close-hsheader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes open-hsheader {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
