<section class="details">
  <div class="container content details__content">
    <span class="details__word">{{ chosenTermText }}</span>

    <div class="details__panel">
      <div class="details__panel-col">
        <div
          class="details__panel-top"
          (click)="togglePanel($event, 'metadataPanel')"
        >
          <span class="details__panel-top-text">{{
            "details.metadataText" | translate
          }}</span>
          <span
            class="details__panel-top-exp"
            [ngClass]="{ active: isMetadataPanelActive }"
          ></span>
        </div>
        <div
          class="details__panel-main ps"
          [innerHTML]="metadataPanel"
          *ngIf="isMetadataPanelActive"
          (click)="handleMetadataClick($event)"
        ></div>
      </div>

      <div class="details__panel-col">
        <div class="details__panel-top">
          <span class="details__panel-top-text">
            <span [innerHTML]="totalTexts"></span>
            <span>
              {{
                totalTexts > 1
                  ? "details.textPluralText"
                  : ("details.textSingularText" | translate)
              }}</span
            >
          </span>
          <div class="details__panel-pagination">
            <span
              class="details__panel-left"
              (click)="handlePageChange($event, 'back')"
              *ngIf="shouldShowPaginationArrows"
            >
              ←
            </span>
            <ul class="details__panel-list">
              <li
                class="details__panel-list-item"
                [ngClass]="{
                  active: page === currentPage
                }"
                (click)="handlePageChange($event)"
                *ngFor="let page of paginatedPages; let i = index"
              >
                {{ page }}
              </li>
            </ul>
            <span
              class="details__panel-right"
              (click)="handlePageChange($event, 'forward')"
              *ngIf="shouldShowPaginationArrows"
            >
              →
            </span>
          </div>
        </div>
        <div
          id="central-panel"
          class="details__panel-main js-panel-central ls"
          [innerHTML]="middlePanel"
          (click)="handleDetailsClick($event)"
        ></div>
      </div>

      <div class="details__panel-col">
        <div
          class="details__panel-top"
          (click)="togglePanel($event, 'textPanel')"
        >
          <span class="details__panel-top-text">{{
            "details.showText" | translate
          }}</span>
          <span
            class="details__panel-top-exp"
            [ngClass]="{ active: isTextPanelActive }"
          ></span>
        </div>
        <div
          class="details__panel-main details__panel-main--right js-panel-right"
          *ngIf="isTextPanelActive"
          [innerHTML]="textPanel"
          (click)="handleTranslationClick($event)"
        ></div>
      </div>
    </div>
  </div>
  <div class="details__popup" *ngIf="isDetailsPopupActive">
    <button class="details__popup-close" (click)="handleDetailsPopupClose()">
      <i class="fas fa-times"></i>
    </button>
    <h1 class="details__popup-title" [innerHTML]="detailsPopupTitle"></h1>
    <div
      class="details__popup-content"
      [innerHTML]="detailsPopupContent"
      (click)="handleDetailsClick($event)"
    ></div>
  </div>
</section>
