<section class="details details--main">
  <div class="container content details__content">
    <div class="title-word">
      <span class="details__word">{{ chosenTermText }} </span>
      @if (chosenTermGw) {
        <span class="details__gw">[{{ chosenTermGw }}] </span>
      }
      @if (chosenTermType) {
        <span class="details__type">{{ ("details.wordType." + chosenTermType) | translate }}: </span>
      }
      @if (chosenTermName) {
        <span class="details__name">{{ chosenTermName }} </span>
      }
      @if (chosenTermPos) {
        <span class="details__pos">({{ chosenTermPos }})</span>
      }
    </div>
    <div class="details__panel">
      <div class="details__panel-col">
        <div
          class="details__panel-top"
          (click)="togglePanel($event, 'metadataPanel')"
          >
          <span class="details__panel-top-text">{{
            "details.metadataText" | translate
          }}</span>
          <span
            class="details__panel-top-exp metadata-expand"
            [ngClass]="{ active: isMetadataPanelActive }"
          ></span>
        </div>
        <div
          [ngClass]="{ hidden_if_narrow: !isMetadataPanelActive }"
          class="details__panel-main ps"
          [innerHTML]="metadataPanel"
          (click)="handleMetadataClick($event)"
        ></div>
      </div>

      <div class="details__panel-col">
        <div class="details__panel-top">
          <span
            class="item-nav fas fa-arrow-left"
            [ngClass]="{active: prev_item}"
            (click)="handlePrevious()"
          ></span>
          <span class="details__panel-top-text item-count">{{ topText }}</span>
          @if (isZoomed()) {
            <span
              (click)="handleResetZoom($event)"
              ><a class="reset-zoom" href="javascript://">
              {{ "details.resetZoom" | translate }}
            </a></span>
          }
          <span
            class="item-nav fas fa-arrow-right"
            [ngClass]="{active: next_item}"
            (click)="handleNext()"
          ></span>
          <div class="details__panel-pagination">
            @if (1 < paginationSliceStart) {
              <span
                class="details__panel-left"
                (click)="handlePageChange($event, currentPage - 1)"
                >
                ←
              </span>
            }
            <ul class="details__panel-list">
              @for (page of paginatedPages; track page; let i = $index) {
                <li
                  class="details__panel-list-item"
                [ngClass]="{
                  active: page === currentPage
                }"
                  (click)="handlePageChange($event, page)"
                  >
                  {{ page }}
                </li>
              }
            </ul>
            @if (paginationSliceEnd < pageCount) {
              <span
                class="details__panel-right"
                (click)="handlePageChange($event, currentPage + 1)"
                >
                →
              </span>
            }
          </div>
        </div>
        <div
          id="central-panel"
          class="details__panel-main js-panel-central ls"
          [innerHTML]="middlePanel"
          (click)="handleDetailsClick($event)"
        ></div>
      </div>

      <div class="details__panel-col">
        <div
          class="details__panel-top"
          (click)="togglePanel($event, 'textPanel')"
          >
          <span class="details__panel-top-text">{{
            "details.translationText" | translate
          }}</span>
          <span
            class="details__panel-top-exp text-expand"
            [ngClass]="{ active: isTextPanelActive }"
          ></span>
        </div>
        <div
          class="details__panel-main details__panel-main--right js-panel-right"
          [ngClass]="{ hidden_if_narrow: !isTextPanelActive }"
          [innerHTML]="textPanel"
          (click)="handleTextClick($event)"
        ></div>
      </div>
    </div>
  </div>
</section>
