[lang="ar"] {
  .header {
    .header__nav-bar {
      @media only screen and (max-width: 600px) {
        left: 100%;
      }
    }
    .header__nav-bar--active {
      @media only screen and (max-width: 600px) {
        left: 0;
      }
    }
  }
  .results {
    .results__show-count-link {
      &:last-of-type::after {
        display: block;
      }
      &:first-of-type::after {
        display: none;
      }
    }
  }
  .glossary {
    text-align: right;
    .forms,
    .norms {
      .iheader {
        text-align: left;
      }
    }
    .senses {
      text-align: right;
    }
  }
  .details {
    .details__word {
      text-align: right;
    }
  }
}
