@import "../../scss/config/variables";

.btn {
  font-family: $fontSecondary;
  font-weight: 600;
  font-size: 20px;
  width: 145px;
  height: 50px;
  color: $white;
  background-color: $blueLight;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: $dur $ease;
  &:hover {
    background-color: lighten($blueLight, 20%);
  }
  @media only screen and (max-width: 600px) {
    font-size: 12px;
    width: 125px;
    height: 30px;
  }
}
