@use "../config/variables";

.ngx-pagination {
  margin-bottom: 30px !important;
  text-align: center;
  .pagination-previous {
    font-size: 1.5rem;
    font-family: variables.$fontSecondary;
    &::before {
      content: none !important;
    }
    a {
      font-size: 1.5rem !important;
      &::before {
        content: none !important;
      }
    }
  }

  .pagination-next {
    font-size: 1.5rem;
    font-family: variables.$fontSecondary;
    &::after {
      content: none !important;
    }
    a {
      font-size: 1.5rem !important;
      &::after {
        content: none !important;
      }
    }
  }
  a {
    font-family: variables.$fontSecondary;
    font-size: 1.1rem !important;
    color: variables.$blueLight !important;
    &:hover {
      background-color: inherit !important;
      color: variables.$blueDark !important;
    }
  }
  .current {
    background-color: inherit !important;
    color: variables.$blueDark !important;
    font-family: variables.$fontSecondary !important;
    font-size: 1.1rem !important;
    font-weight: 700 !important;
  }
  .disabled {
    color: variables.$blueDark !important;
    span {
      border-radius: 0;
      display: block;
    }
  }

  .small-screen {
    font-family: variables.$fontSecondary;
    font-size: 1.1rem !important;
    color: variables.$blueLight !important;
    font-weight: 700;
  }
}
