<div class="home">
  <div class="container content home__content">
    <span class="home__intro-text">{{ "home.introText" | translate }}</span>
    <div class="home__logo" dir="ltr">
      <h1 class="home__logo-head">{{ "home.logoText" | translate }}</h1>
      <ul class="home__logo-list">
        <li class="home__logo-list-item">Open</li>
        <li class="home__logo-list-item">Richly</li>
        <li class="home__logo-list-item">Annotated</li>
        <li class="home__logo-list-item">Cuneiform</li>
        <li class="home__logo-list-item">Corpus2</li>
      </ul>
    </div>
    <div class="home__text">
      <p class="home__text-para">{{ "home.paraText1" | translate }}</p>
      <p
        class="home__text-para"
        [innerHtml]="'home.paraText2' | translate"
        (click)="handleSearchLinkClick($event)"
      ></p>
    </div>
  </div>
</div>
