// Fonts
$fontPrimary: "NotoSerif", "DroidSerif", serif;
$fontSecondary: "OpenSans", sans-serif;

// Colors
$red: #af252f;
$blueDark: #273c75;
$blueLight: #0097e6;
$blueSky: #dfeef7;
$grayLight: #f8f8f8;
$grayDark: #404040;
$gray: lighten($grayDark, 50%);
$grayTable: #f5f5f5;
$grayBorder: #707070;
$teal: #06979e;
$white: #fff;

// Transition
$dur: 350ms;
$ease: ease-in-out;
