<div class="search__suggestions" (keyup)="setSearchSuggestionOnEnter($event)">
  <div
    *ngIf="
      loading === false && searchSuggestions[suggestionsCategory].length > 0
    "
  >
    <div class="suggestions-category-select">
      <div
        [ngClass]="suggestionsCategory === 'completions' ? 'active' : ''"
        (click)="setSuggestionsCategory($event)"
      >
        Completions
      </div>

      <div
        [ngClass]="suggestionsCategory === 'suggestions' ? 'active' : ''"
        (click)="setSuggestionsCategory($event)"
      >
        Suggestions
      </div>
    </div>

    <p
      *ngFor="let suggestion of searchSuggestions[suggestionsCategory]"
      class="suggestion"
      (click)="setSuggestionSearchParamChild(suggestion)"
      tabindex="0"
    >
      {{ suggestion }}
    </p>
  </div>

  <p
    class="suggestions-fallback"
    *ngIf="!loading && searchSuggestions[suggestionsCategory].length === 0"
  >
    No items to display
  </p>

  <p class="suggestions-fallback" *ngIf="loading">Fetching suggestions...</p>
</div>
